
#titles {
    font-size: 150%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: var(--white-color);
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

body {
    font-family: Arial, sans-serif;
    color: var(--blue-color);
    line-height: 2em;
    margin-right: 2%;
}

.inventory {
    float: right;
    margin-right: 30px;
}

#pic-caption {
    font-size: x-small;
    color: var(--white-color);
}


details {
    margin-bottom: 20px;
}
summary {
    cursor: pointer;
    font-weight: bold;
}

details > div {
    margin-left: 20px;
    color: var(--white-color);
}


footer {
    margin-top: 2em;
}

/* Media queries */
@media only screen and (max-width: 630px) {

    #nav_menu ul {
        flex-direction: column;
    }

    #titles {
        flex-direction: column;
    }

    .row {
        overflow: auto;
    }
}