
br {
    clear: both;
}

h1 {
    color: var(--white-color);
}

.gamepad-icon {
    color: var(--blue-color);
}

#head {
    grid-area: head;
    text-align: center;
}

#image3 {
    grid-area: img1;
    width: 220px;
    height: 200px;
}

#image4 {
    grid-area: img2;
    width: 220px; 
    height: 200px; 
}

#image5 {
    grid-area: img3;
    width: 200px;
    height: 200px; 
}

#welcome {
    grid-area: sec1;
    color: var(--blue-color);
    line-height: 2em;
}

#shelter {
    grid-area: sec2;
    color: var(--white-color);
    line-height: 2em;
}

#venture {
    grid-area: sec3;
    color: rgb(233, 53, 233);
    line-height: 2em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    padding: 1em;
    grid-template-areas:
        "head head head"
        "img1 img2 img3" 
        "sec1 sec2 sec3"; 
    justify-items: center;
}


/* Media queries */
@media only screen and (max-width: 630px) {

    #nav_menu ul {
        flex-direction: column;
    }

    #grid {
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 480px;
    }
}