:root {
    --white-color: rgb(249, 248, 248);
    --pink-color: rgb(233, 53, 233);
}

/* page two background gradient */
body {
    background-image: linear-gradient(45deg, blue 0%, black 50%, green 100%);
    border: 3px solid black;
}

#nav_menu {
    padding-bottom: 0.5em;
    margin: auto;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}

#nav_menu ul li a {
    padding: 0.5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: var(--pink-color)
}

#nav_menu ul li a:hover {
    color: var(--white-color);
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--white-color);
    font-style: normal;
    font-weight: 200;
}

a:link,
*[href] {
    color: var(--white-color);
}

a:hover, a:focus {
    color: var(--pink-color);
}

h1 {
    text-align: center;
    color: var(--white-color);
}

article {
    column-count: 3;
    column-gap: 50px;
    column-rule: 5px dotted rgb(0, 128, 0);
    font-size: small;
    line-height: 175%;
}

/* intended for the text inside the article */
#welcome {
    width: 480px;
    float: left;
    padding-left: 2.5%;
    height: fit-content;
}

#shelter {
    width: 490px;
    float: left;
    padding-right: 2.5%;
    height: fit-content;
}

#venture {
    width: 470px;
    float: right;
    padding-right: 3%;
    height: fit-content;
}

/* Media queries */
@media only screen and (max-width: 630px) {
    article {
        column-width: 480px;
    }

    #nav_menu ul {
        flex-direction: column;
    }

    #titles {
        flex-direction: column;
    }
}