:root {
    --white-color: rgb(249, 248, 248);
    --pink-color: rgb(233, 53, 233);
}

/* body */
body {
    background-color: rgb(0, 0, 0);
    background: rgb(0, 0, 0) url("images/dark_image.jpg");
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    max-width: 1535px;
}

body ul {
    color: rgb(233, 53, 233);
    font-size: medium;
}

.cabin {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

#titles {
    font-size: 150%;
}

/* Nav Section */

#nav_menu {
    padding-bottom: 0.5em;
    margin: auto;
}

#nav_menu ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
    flex-basis: 33%;
}

#nav_menu ul li a:hover {
    color: var(--white-color);
}

#paragraph {
    color: rgb(233, 53, 233);
    font-size: medium;
    line-height: 2em;
    width: 95%;
    text-align: center;
    margin: auto;
}

a:link,
*[href] {
    color: var(--pink-color);
}

a:hover,
a:focus {
    color: rgb(249, 248, 248);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:larger;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 2em;
}

/* Media queries */
@media only screen and (max-width: 630px) {
    article {
        column-width: 480px;
    }

    #nav_menu ul {
        flex-direction: column;
    }

    #titles {
        flex-direction: column;
    }
}