:root {
    --white-color: rgb(249, 248, 248);
    --pink-color: rgb(233, 53, 233);
}

/* Nav Section */

#nav_menu {
    padding-bottom: 0.5em;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#nav_menu ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
    flex-basis: 33%;
}

#nav_menu ul li a:hover {
    color: var(--white-color);
}

a:link,
*[href] {
    color: var(--pink-color);
}

a:hover,
a:focus {
    color: rgb(249, 248, 248);
}

/* body */
body {
    background-color: rgb(0, 0, 0);
    background: rgb(0, 0, 0) url("images/mc_background.jpg");
    background-size: cover;
    width: 100%;
    max-width: 1535px;
}

body ul {
    color: var(--pink-color);
    font-size: medium;
}

main {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

br {
    clear: both;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 100px);
    grid-gap: 16px;
    padding: 1em;
    grid-template-areas:
        "head head head"
        "sec1 sec2 sec3"
        "sec4 sec5 sec6"
        "sec7 sec8 sec9";
}

#top_title {
    grid-area: head;
    color: #00ffff;
    text-align: center;
    font-size: 50px;
}

#quote1 {
    grid-area: sec1;
    color: var(--white-color);
}

#quote2 {
    grid-area: sec2;
    color: var(--pink-color);
}

#quote3 {
    grid-area: sec3;
    color: var(--white-color);
}

#quote4 {
    grid-area: sec4;
    color: var(--pink-color);
}

#quote5 {
    grid-area: sec5;
    color: var(--white-color);
}

#quote6 {
    grid-area: sec6;
    color: var(--pink-color);
}

#quote7 {
    grid-area: sec7;
    color: var(--white-color);
}

#quote8 {
    grid-area: sec8;
    color: var(--pink-color);
}

#quote9 {
    grid-area: sec9;
    color: var(--white-color);
}

.author-name {
    color: #00ffff;
}

#quote1,
#quote2,
#quote3,
#quote4,
#quote5,
#quote6,
#quote7,
#quote8,
#quote9 {
    border: 1px solid rgb(255, 247, 247);
    padding: 10px;
    text-align: center;
}