main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-gap: 16px;
    padding: 1em;
    grid-template-areas:
        "head head head"
        "sec1 sec2 sec3"
        "sec4 sec5 sec6"
        "sec7 sec8 sec9";
}

#top_title {
    grid-area: head;
    color: var(--blue-color);
    text-align: center;
    font-size: 40px;
}

#quote1 {
    grid-area: sec1;
    color: var(--white-color);
}

#quote2 {
    grid-area: sec2;
    color: var(--pink-color);
}

#quote3 {
    grid-area: sec3;
    color: var(--white-color);
}

#quote4 {
    grid-area: sec4;
    color: var(--pink-color);
}

#quote5 {
    grid-area: sec5;
    color: var(--white-color);
}

#quote6 {
    grid-area: sec6;
    color: var(--pink-color);
}

#quote7 {
    grid-area: sec7;
    color: var(--white-color);
}

#quote8 {
    grid-area: sec8;
    color: var(--pink-color);
}

#quote9 {
    grid-area: sec9;
    color: var(--white-color);
}

.author-name {
    color: var(--blue-color);
}

#quote1,
#quote2,
#quote3,
#quote4,
#quote5,
#quote6,
#quote7,
#quote8,
#quote9 {
    border: 6px double rgb(255, 247, 247);
    padding: 10px;
    text-align: center;
}