:root {
    --white-color: rgb(249, 248, 248);
    --pink-color: rgb(233, 53, 233);
}

body {
    background-color: rgb(0, 0, 0);
    background: rgb(0, 0, 0) url("images/dark_image.jpg");
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    max-width: 1535px;
}

/* this image is my scalable image, I think. If I did it right, of course! */

img {
    float: left;
    width: 15%;
    min-width: 150px;
}

#nav_menu {
    padding-bottom: 0.5em;
    margin: auto;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}

#nav_menu ul li a:hover {
    color: var(--white-color);
}

#things-to-do {
    width: 480px;
    float: left;
    padding-left: 2.5%;
    line-height: 2em;
}

#purposes {
    width: 490px;
    float: left;
    padding-right: 2.5%;
}

#mobs {
    width: 470px;
    float: right;
    padding-right: 3%;
    line-height: 2em;
}

/* intended to create space between what's above and below the break tag, not sure if it is needed though */
br {
    clear: both;
}

.box {
    color: rgb(240, 255, 255);
    text-align: center;
    margin: 5px auto;
    padding: 5px 2em;
    border: thick outset var(--pink-color);
    border-radius: 15px;
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid rgb(255, 255, 255);
}

body ul {
    color: var(--pink-color);
    font-size: medium;
}

h2 {
    color: #00ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
}

.second-text {
    color: #1bb7e2;
    text-align: center;
}

p {
    font-size: 110%;
}

a:link,
*[href] {
    color: var(--pink-color);
}

a:hover,
a:focus {
    color: rgb(249, 248, 248);
}

#minecraft_title {
    text-align: center;
    color: var(--pink-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: small-caps;
}

#hint {
    text-align: center;
}

.first-text {
    text-align: center;
    color: rgb(31, 251, 82);
}

/* the following is for the icons added to my unordered lists, do they need alt text if they are icons? */
ul.diamonds {
    list-style-image: url("images/diamonds.png");
}

ul.lantern {
    list-style-image: url("images/lantern.png");
}

ul.gold {
    list-style-image: url("images/gold.png");
}

ul.pickaxe {
    list-style-image: url("images/pickaxe.png");
}

main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    line-height: 1.4em;
    width: 100%;
    padding: 15px 2%;
}

#interested {
    text-align: center;
}

/* I think you said CSS doesn't use commas, but the webpage was ruined without them */
h3,
#hint,
footer {
    color: var(--white-color)
}

/* this is for the layout when the browser width changes, however, I'm having trouble with the box */

@media only screen and (max-width: 1515px) {
    article {
        column-width: 480px;
    }

    .box {
        width: 480px;
    }
}