:root {
    --white-color: rgb(249, 248, 248);
    --pink-color: rgb(233, 53, 233);
}

body {
    background-color: rgb(0, 0, 0);
    background: rgb(0, 0, 0) url( "../images/dark_image.jpg");
    background-attachment: scroll;
    background-size: cover;
}

img {
    float: left;
}

#things-to-do {
    width: 480px;
    float: left;
    padding-left: 2.5%;
}

#purposes {
    width: 490px;
    float: left;
    padding-right: 2.5%;
}

#mobs {
    width: 470px;
    float: right;
    padding-right: 3%;
}

br {
    clear: left;
}

.box {
    color: rgb(240, 255, 255);
    text-align: center;
    margin: 5px auto;
    padding: 5px 2em;
    border: thick outset var(--pink-color);
    border-radius: 15px;
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid rgb(255, 255, 255);
}

body ul {
    color: var(--pink-color);
    font-size: medium;
}

h2 {
    color:#00ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
}

.second-text {
    color: #1bb7e2;
    text-align: center;
}

p {
    font-size: 110%;
}

a:link, *[href] { 
    color: var(--pink-color);
}

a:hover, a:focus {
    color: rgb(255, 255, 0);
}

#minecraft_title{
    text-align: center;
    color: var(--pink-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: small-caps;
}

#hint {
    text-align: center;
}

.first-text {
    text-align: center;
    color: rgb(31, 251, 82);
}

main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    line-height: 1.4em;
}

#interested {
    text-align: center;
}

h3, #hint, footer {
    color: var(--white-color)
}
